.container {
    composes: container from './page.module.css';
    overflow: hidden;
}

.loader {
    composes: margin from '../../components/friends/Friend.module.css';
    vertical-align: bottom;
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    height: 114px;
    width: 100%;
}

.loader-container {
    composes: container from '../../components/friends/Friend.module.css';
    padding: 0;
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.image {
    width: 100%;
}

@keyframes pulse {
    50% {
        opacity: .5;
    }
}