.container {
    position: relative;
}

.controls {
    display: flex;
    margin-top: 46px;
    margin-bottom: 25px;
}

.disable {
    color: #D7D7D7
}

.button {
    border-radius: 30px;
    padding: 8px 18px;
    display: flex;
    align-items: center;
    border: none;
}

.filter {
    composes: button;
    border: 1px solid #ABABAB;
}

.active-filter {
    composes: filter;
    composes: button-active from '../../common/MenuItem.module.css';
    /* not removing border to avoid 1px jump */
    border-color: transparent;
}

.separator {
    composes: disable;
    margin-left: 15px;
    align-self: center;
}

.filter-number {
    font-weight: 600;
    margin-left: 10px
}